Team Sentiment and Growth Feedback Sub-Workflow.json
{
  "name": "Team Sentiment and Growth Feedback Sub-Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1536,
        128
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1312,
        352
      ],
      "id": "05b6f947-e97f-4f7d-a222-081c525163ca",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pbzrsOpC8J7lklO1",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following employee feedback data:\n\n{{ $(\"When Executed by Another Workflow\").item.json.feedback_text }}\n\nFor each feedback item, determine which specialist agent(s) to call based on the content:\n- If about focus, effort, commitment, mood, or emotions → use Sentiment Agent Tool\n- If about excitement, inspiration, growth, learning, or career → use Growth Agent Tool\n- If about involvement, teamwork, communication, or collaboration → use Collaboration Agent Tool\n\nYou can call multiple agents in parallel for the same feedback if it covers multiple topics.\n\nAfter all agent analyses are complete, synthesize the results and pass them to the Manager Coaching Agent Tool to generate actionable recommendations.",
        "options": {
          "systemMessage": "You are the Orchestrator Agent. Your role is to: 1) Analyze employee feedback passed from the parent workflow, 2) Route feedback to the appropriate specialist agents (Sentiment, Growth, Collaboration), 3) Collect and synthesize their analyses, 4) Send the synthesis to the Manager Coaching Agent for final recommendations. Tools can be used in parallel when appropriate.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -888,
        128
      ],
      "id": "59079553-a46c-4d45-bd27-4a35acdee4c6",
      "name": "Orchestrator Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "toolDescription": "Detects sentiment, mood shifts, burnout risk, inclusion signals, and emotional trends from employee feedback.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('feedback', 'Employee feedback text to analyze') }}",
        "options": {
          "systemMessage": "You are an employee sentiment analyst. Analyze the provided feedback and identify: sentiment (positive/negative/neutral), mood shifts, burnout risk indicators, inclusion signals, and emotional trends. Return your analysis in a structured format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1184,
        352
      ],
      "id": "9899770b-4e1a-4d69-af7a-cc8331736a0e",
      "name": "Sentiment Agent Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1104,
        560
      ],
      "id": "b29e8dc3-a6e0-4ad1-9dc5-8477a2dc3f24",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "pbzrsOpC8J7lklO1",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -816,
        560
      ],
      "id": "33d151b8-5270-43eb-b98a-c6ef9024e591",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "pbzrsOpC8J7lklO1",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -528,
        560
      ],
      "id": "3e4c79ff-6dd4-4641-88d2-d25884d9cb68",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "pbzrsOpC8J7lklO1",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Identifies skill gaps, growth opportunities, career alignment, and learning recommendations from employee feedback.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('feedback', 'Employee feedback text to analyze') }}",
        "options": {
          "systemMessage": "You are the Growth Intelligence Agent. Analyze employee feedback to identify: skill gaps, growth opportunities, career alignment issues, career stagnation risks, mentorship needs, learning recommendations, and retention concerns. Focus on supporting employee development and long-term success."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -896,
        352
      ],
      "id": "8730b768-0ba9-4518-bec2-701b4b2ae3d1",
      "name": "Growth Agent Tool"
    },
    {
      "parameters": {
        "toolDescription": "Analyzes collaboration patterns, communication friction, silos, and workflow bottlenecks from employee feedback.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('feedback', 'Employee feedback text to analyze') }}",
        "options": {
          "systemMessage": "You are the Collaboration Intelligence Agent. Analyze employee feedback to identify: collaboration health, communication patterns, workflow bottlenecks, communication friction, team silos, and operational inefficiencies. Focus on improving teamwork, communication, and organizational effectiveness."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -608,
        352
      ],
      "id": "d4feee35-3ad9-4b33-a7f9-d37c3183c02a",
      "name": "Collaboration Agent Tool"
    },
    {
      "parameters": {
        "toolDescription": "Generates coaching tips, 1:1 talking points, recognition opportunities, and team health actions based on workforce intelligence analysis.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('analysis', 'Combined analysis from Sentiment, Growth, and Collaboration agents') }}",
        "options": {
          "systemMessage": "You are the Manager Coaching Agent. Based on the analysis provided, generate: actionable coaching tips for managers, 1:1 talking points to address concerns, recognition opportunities for positive behaviors, and team health action items. Focus on practical, empathetic guidance."
        }
      },
      "id": "a5d77008-befe-46ed-86bf-69dc67ddc52c",
      "name": "Manager Coaching Agent Tool",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -320,
        352
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "3fc4a216-6bff-49bc-ba95-5c55feff4afe",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "pbzrsOpC8J7lklO1",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "documentTitle",
              "value": "Manager Coaching Report - Team Sentiment & Growth Analysis",
              "type": "string"
            },
            {
              "id": "2",
              "name": "documentContent",
              "value": "={{ $(\"Orchestrator Agent\").item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9c11344e-933b-4a79-9eda-62139beb416e",
      "name": "Format Document Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        32
      ]
    },
    {
      "parameters": {
        "folderId": "13mw0drngmNPkHbU3qRCou6o03wEuTor5",
        "title": "={{ $json.documentTitle }}"
      },
      "id": "fc38d8d0-8000-4678-b2ac-b2e45197d7f8",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        848,
        32
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5uMQmDy2wcR4ruuj",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Create Google Doc\").item.json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "id": "36a871c7-d2f9-401c-a82f-5f9cac7d420a",
      "name": "Share Google Doc",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1296,
        32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XLYJ031E5rUYKbl3",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "willie.james.jr@gmail.com",
        "subject": "Manager Coaching Report - Google Doc",
        "message": "=<h2>Manager Coaching Report</h2><p>Your manager coaching report has been generated and is available as a Google Doc:</p><p><a href=\"https://docs.google.com/document/d/{{ $(\"Create Google Doc\").item.json.id }}/edit\">View Report</a></p><p>This report was generated automatically based on employee feedback analysis.</p>",
        "options": {}
      },
      "id": "0636a166-00f1-4550-bed9-ca60fbfd207e",
      "name": "Send Doc Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        32
      ],
      "webhookId": "1cd8419d-c25e-4635-be95-ade743d203ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "eHmC7QHueMHhOQMj",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $(\"Create Google Doc\").item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "={{ \"insert\" }}",
              "text": "={{ $(\"Format Document Content\").item.json.documentContent }}"
            }
          ]
        }
      },
      "id": "1bde30e2-8a22-43e5-b50d-176dcecf5a22",
      "name": "Update Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1072,
        32
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5uMQmDy2wcR4ruuj",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.output.hasFeedbackData }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "9d9c6c77-1662-4fee-8836-f8ba78e35dbf",
      "name": "Check Feedback Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "workflow",
              "value": "Team Sentiment and Growth Feedback Sub-Workflow",
              "type": "string"
            },
            {
              "id": "3",
              "name": "error",
              "value": "No employee feedback data received",
              "type": "string"
            },
            {
              "id": "4",
              "name": "input",
              "value": "={{ JSON.stringify($(\"When Executed by Another Workflow\").item.json) }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "output",
              "value": "={{ $(\"Orchestrator Agent\").item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "374adb5c-d78a-4891-9bf2-d014d6d7ac9b",
      "name": "Format Error Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        224
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1riN_UghKp6tRfh84bWlrelyLTunfRT5oHees6V3BOCA",
          "mode": "list",
          "cachedResultName": "Synthetic Employee Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1riN_UghKp6tRfh84bWlrelyLTunfRT5oHees6V3BOCA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 333390903,
          "mode": "list",
          "cachedResultName": "support",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1riN_UghKp6tRfh84bWlrelyLTunfRT5oHees6V3BOCA/edit#gid=333390903"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6c132fcd-6581-4856-84ce-36011d747281",
      "name": "Log to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yPOADkpyi2JMdavB",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "No employee feedback data received from parent workflow. Input and output logged to Google Sheet."
      },
      "id": "3c797f1a-5314-4817-b3b9-f6c5145abdc8",
      "name": "Stop Workflow",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1072,
        224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data validation agent. Analyze the provided text and determine if it contains actual employee feedback analysis data or if it is a request/error message asking for feedback. Return hasFeedbackData as true only if the text contains substantive analysis, insights, or coaching recommendations. Return false if it contains phrases like \"Please provide\", \"No data\", \"No feedback\", or similar error/request messages."
        }
      },
      "id": "1e80a652-532b-4ff3-9d21-da7e8fa4b724",
      "name": "Feedback Data Parser",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        128
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "id": "5fc02523-ec84-48ed-992d-acbb9904b44b",
      "name": "OpenAI Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        56,
        352
      ],
      "credentials": {
        "openAiApi": {
          "id": "pbzrsOpC8J7lklO1",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"hasFeedbackData\": true, \"reason\": \"Contains employee feedback analysis\" }"
      },
      "id": "d4341ce4-9b21-4625-9c53-0c4e407154b5",
      "name": "Feedback Parser Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        184,
        352
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Feedback Data Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Growth Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Collaboration Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Growth Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Collaboration Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manager Coaching Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Coaching Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Document Content": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Update Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Google Doc": {
      "main": [
        [
          {
            "node": "Send Doc Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Doc": {
      "main": [
        [
          {
            "node": "Share Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback Data": {
      "main": [
        [
          {
            "node": "Format Document Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Log": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheet": {
      "main": [
        [
          {
            "node": "Stop Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Data Parser": {
      "main": [
        [
          {
            "node": "Check Feedback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Feedback Data Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Parser Output": {
      "ai_outputParser": [
        [
          {
            "node": "Feedback Data Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ed938b2d-ab2e-4e00-8f13-ec503dd92232",
  "meta": {
    "instanceId": "55f05c06ad1cfec369b1ee5e23826261e170e4ff502372d530dcb14dea4ef6eb"
  },
  "id": "S2iENiNCAf0BUafg",
  "tags": []
}