workflows/Manager Feedback Analysis RAG.json
{
  "name": "Manager Feedback Analysis RAG",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.analysisPrompt }}"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "66c7c34f-0756-4a12-8f6d-9f9e4ee44634",
      "name": "Analyze Feedback",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2208,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following feedback and create a comprehensive analysis prompt for detailed review:\n\nManager: {{ $json.manager }}\nSearch Query: {{ $json.searchQuery }}\n\nFeedback:\n{{ $json.feedbackText }}\n\nCreate a detailed prompt that summarizes key themes, sentiment patterns, and actionable insights for this manager team feedback.",
        "options": {
          "systemMessage": "You are a feedback analysis expert. Your task is to review customer feedback and create comprehensive analysis prompts that highlight key themes, sentiment patterns, and actionable insights. Be concise and structured in your output."
        }
      },
      "id": "e136dc9f-dcad-4088-a1a2-7f492f72ec50",
      "name": "Create Analysis Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1632,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "7e89dc54-f641-48f0-acb6-5d0b1a2df139",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        688,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "pbzrsOpC8J7lklO1",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Input').item.json.sessionId }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "id": "9b0237c4-28ec-41b0-940d-8c8246186c68",
      "name": "Redis Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.6,
      "position": [
        1704,
        528
      ],
      "credentials": {
        "redis": {
          "id": "X2ospDNdbJR90VUh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "analysisPrompt",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "feedbackCount",
              "value": "={{ 1 }}",
              "type": "number"
            },
            {
              "id": "3",
              "name": "sessionId",
              "value": "={{ $(\"Chat Input\").item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "07ebf53c-f913-4a79-9319-c0bdedd76711",
      "name": "Prepare Subworkflow Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        304
      ]
    },
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "c99f0e62-dbc0-4327-8c91-a1619b3c5eff",
      "name": "Chat Input",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        240,
        304
      ],
      "webhookId": "6fd1a1fb-93dd-48b1-aa4e-e4aab9220318"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        736
      ],
      "id": "2516db83-1a8f-4690-a264-db97f79c99bf",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "3ppZfKIN0xzQRJeQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search for feedback{{ $json.managerName ? \" for manager: \" + $json.managerName : \"\" }}. Query: {{ $json.searchQuery }}",
        "options": {
          "systemMessage": "You are a feedback retrieval assistant. Use the vector store to search for employee feedback. When a manager name is specified, include it in your search to filter results. The database search is case-insensitive. Return all relevant feedback entries you find with their metadata."
        }
      },
      "id": "a9d0e55a-a3b3-4b09-885a-3fe526f95adb",
      "name": "Find Similar Feedback",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.chatInput.toLowerCase();\n\n// Extract manager name from input\nlet managerName = \"\";\nlet searchQuery = input;\n\n// Check if input contains \"manager\" keyword\nif (input.includes(\"manager\")) {\n  // Try to extract name after \"manager is\" or \"manager:\"\n  const patterns = [\n    /manager\\s+is\\s+([a-z\\s]+?)(?:\\s+only|\\s*$)/i,\n    /manager:\\s*([a-z\\s]+?)(?:\\s+only|\\s*$)/i,\n    /for\\s+manager\\s+([a-z\\s]+?)(?:\\s+only|\\s*$)/i\n  ];\n  \n  for (const pattern of patterns) {\n    const match = input.match(pattern);\n    if (match) {\n      managerName = match[1].trim().toLowerCase();\n      break;\n    }\n  }\n}\n\n// If no manager found, use full input as search query\nif (!managerName) {\n  searchQuery = input;\n}\n\nreturn {\n  managerName: managerName,\n  searchQuery: searchQuery,\n  hasManagerFilter: managerName !== \"\"\n};"
      },
      "id": "95b2cc2a-357d-4fd0-b629-9eae4ef6b98e",
      "name": "Extract Manager Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// The AI Agent with retriever returns text output\n// We need to structure it for downstream processing\nconst output = $input.first().json.output;\nconst managerName = $(\"Extract Manager Name\").first().json.managerName;\n\nreturn {\n  feedbackText: output,\n  manager: managerName,\n  searchQuery: $(\"Extract Manager Name\").first().json.searchQuery\n};"
      },
      "id": "3020ba58-c5bc-4271-8db6-7b787530eb07",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "feedbackText",
              "value": "={{ $json.feedbackText }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "manager",
              "value": "={{ $json.manager }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "searchQuery",
              "value": "={{ $json.searchQuery }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2ce9952d-2087-4744-b0b1-8c259025a8bb",
      "name": "Aggregate Feedback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        304
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search employee feedback database for relevant feedback entries. Use this to find feedback based on manager names or feedback content. The search is case-insensitive.",
        "tableName": "employee_feedback_vectors",
        "topK": 50,
        "options": {}
      },
      "id": "39b21da0-4a63-4da3-b7e7-2c7d699752a8",
      "name": "Feedback Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        816,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "9fmkfC3jI50WDwt4",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Create Analysis Prompt": {
      "main": [
        [
          {
            "node": "Prepare Subworkflow Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create Analysis Prompt",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Find Similar Feedback",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Memory": {
      "ai_memory": [
        [
          {
            "node": "Create Analysis Prompt",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Subworkflow Input": {
      "main": [
        [
          {
            "node": "Analyze Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Input": {
      "main": [
        [
          {
            "node": "Extract Manager Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Feedback Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Find Similar Feedback": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Manager Name": {
      "main": [
        [
          {
            "node": "Find Similar Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Aggregate Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Feedback": {
      "main": [
        [
          {
            "node": "Create Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Find Similar Feedback",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5117a35a-a521-4f4c-bf22-66aeb1439a1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55f05c06ad1cfec369b1ee5e23826261e170e4ff502372d530dcb14dea4ef6eb"
  },
  "id": "oj2FMRSRHdb25GNB",
  "tags": []
}