workflows/Synthetic Employee Generator.json
{
  "name": "Synthetic Employee Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        400
      ],
      "id": "8b8b9add-3c3e-4bce-9cee-95980c548bde",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        224
      ],
      "id": "df3e99be-f268-4167-9bd1-375c8861116d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pbzrsOpC8J7lklO1",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const parsed = JSON.parse(item.json.output);\n\n  return parsed.map(record => ({\n    json: record\n  }));\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        112
      ],
      "id": "1efb681a-56a6-4859-8b8e-1f3dd277b36d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1riN_UghKp6tRfh84bWlrelyLTunfRT5oHees6V3BOCA",
          "mode": "list",
          "cachedResultName": "Synthetic Employee Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1riN_UghKp6tRfh84bWlrelyLTunfRT5oHees6V3BOCA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 959617903,
          "mode": "list",
          "cachedResultName": "employees_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1riN_UghKp6tRfh84bWlrelyLTunfRT5oHees6V3BOCA/edit#gid=959617903"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "manager",
              "displayName": "manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "persona",
              "displayName": "persona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenure_months",
              "displayName": "tenure_months",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employee_name",
              "displayName": "employee_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        336
      ],
      "id": "aef18cb5-705b-40f0-beb2-521748487d8e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jILCnv3unjrGF8l2",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are generating synthetic employee data for testing an enterprise workforce intelligence platform. Generate different employee personas.\n\nGenerate synthetic workforce employees with:\n- 50% in Engineering\n- 10% in Operations and Support\n- 10% in Sales, Marketing and Product\n- mix the rest of the employees and departments\n\nRequirements:\n- Personas have varying goals and emotional tones \n- Include different departments (Engineering, Marketing, Finance, HR, Sales, Operations, Support, Product, Security)\n- Engineering should have 2 managers\n- Every other department only has 1 manager\n- A manager cannot be over multiple departments\n- Randomize the employee id\n- An employee cannot report to multiple managers\n\nReturn ONLY valid JSON array. Output ONLY raw JSON. Do not use Markdown code blocks or backticks. Send the output to the code parser.\n\nSchema:\n[\n  {\n    \"employee_id\":\"EMP-1001\",\n    \"employee_name\":\"John Doe\",\n    \"department\":\"Engineering\",\n    \"manager\":\"Sarah Chen\",\n    \"persona\":\"Burned-out high performer\",\n    \"role\":\"Application Developer I\",\n    \"tenure_months\":2\n  }\n\nGenerate 50 employee records.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "bd2385d7-eb3c-4c71-befe-ff73eb570f95",
      "name": "Synthetic Employee Generator"
    },
    {
      "parameters": {
        "jsCode": "return Array.from({ length: 5 }, (_, i) => ({ json: { batch: i + 1 } }));"
      },
      "id": "c888a15b-042a-4b6a-b498-5c31023cb803",
      "name": "Create Batch Trigger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        400
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "employees",
        "options": {}
      },
      "id": "477e0f0f-b58a-444a-b42f-8e54bc2a62d4",
      "name": "Aggregate All Employees",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        368
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9df4ee2d-8fa7-42ef-b5d8-eea13b685c41",
      "name": "Loop Over Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create Batch Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Synthetic Employee Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthetic Employee Generator": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Batch Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Batches": {
      "main": [
        [
          {
            "node": "Aggregate All Employees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Synthetic Employee Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d43c0bfb-b662-4640-b1c8-8f69baa3a497",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55f05c06ad1cfec369b1ee5e23826261e170e4ff502372d530dcb14dea4ef6eb"
  },
  "id": "P3IqC1KbQqoSCRj5",
  "tags": []
}